.ir-to-ms-excel-block-w-button {
    position:absolute; 
    bottom: 13px; 
    left: 12px; 
    height: 30px;
}

.ir-to-ms-excel-block {
    font-size: 11px;
    line-height: 16px;
}

.ir-to-ms-excel-block-icon {
   margin-right: 5px;
}

.u-Processing::after {
  color : black;
  font-size: 24px;
  line-height: 70px;  
  background-color: lightgrey;  
  border-radius: 10px; 
  margin-left: -25px;
  padding-left: 10px;  
  padding-right: 10px;    
}

.ir-to-ms-excel-button {
    padding: 0px !important;
}